# AdGuard Home
http://adguard.pi {
    reverse_proxy 192.168.18.13:80 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

dietpi.tail00f31b.ts.net {
    handle_path /glance* {
        reverse_proxy glance:8080
    }
}
